<ul>
    <%= for key <- Map.keys(@process) do %>
      <li><%= key %>: <%= inspect Map.get(@process, key) %></li>
    <% end %>
</ul>

<p>
  <a href="<%= soul_path(@conn, :index) %>">List all processes</a>
</p>
