<ul>
    <li>name: <%= @process.name %></li>
    <li>description: <%= @process.description %></li>
    <li>pid: <%= @process.os_pid %></li>
</ul>

<p>
  <a href="<%= soul_path(@conn, :index) %>">List all processes</a>
</p>
